.edit-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 70px 0 70px;
	text-align: center;
	font-family: geneva;
	font-size: 1.2em;
}

.profile-icon-con {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.fa-user {
	color: #999;
}

.about-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-margin {
	display: flex;
	margin-bottom: 30px;
}

.text-area {
	display: flex;
  text-align: center;
  font-family: arial;
	font-size: 1em;
}

.work-con {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 35px;
}

.qual-con {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 35px;
}