.home {
  display: flex;
  flex-direction: column;
  background: url(img/date-pic.jpg) no-repeat; 
  background-size: cover; 
}

.btn-con {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 50px;
}

.sign-up {
  display: flex;
  /*height: 35%;*/
  width: 11%;
  text-align: center;
  margin-bottom: 30px;
  padding: 0px;
  font-size: 1.5em;
  font-family: geneva;
  border-radius: 10px;
  border-width: 0px;
  background-color: #777;
}

.sign-up li {
  list-style: none;
}

.sign-up li a {
  margin-left: 31.5px;
  color: #000;
}

.home .login {
  display: flex;
  /*height: 35%;*/
  width: 11%;
  text-align: center;
  padding: 0px;
  font-size: 1.5em;
  font-family: geneva;
  border-radius: 10px;
  border-width: 0px;
  background-color: #777;
  color: #777;
}

.sign-up li a {
  text-decoration: none;
}

.login li {
  margin-left: 11px;
}

.login li a {
  text-decoration: none;
  color: #000;
}

.date-night-con {
  display: flex;
  justify-content: center;
  /*margin-bottom: 468px;*/
}

.date-night {
  display: flex;
  font-family: Brush Script Std;
  font-size: 4.3em;
  margin-left: 200px;
  color: #990000;
}