.html, body {
  width: 100%;
  height: 100%;
}

.body {
  margin: 0;
}

.login {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #777;
}

.login-form {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.8em;
  font-family: geneva;
  border-width: 0px;
}

.log-user-pass-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 15%;
  color: #000;
}

.log-pass-user {
	width: 70%;
	height: 40%;
	font-family: geneva;
	font-size: 1.3em;
	font-weight: 150;
	margin: 5px 0px 0px 25px;
	padding: 0px;
	border-width: 0px;
	border-radius: 10px;
}

.log-btn-con {
	display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  width: 67%;
  height: 9%
}

.log-err-mes {
	display: flex;
	margin: 0 30px 0 0; 
	width: 50%;
	font-style: italic; 
	font-size: 1.5em;
	color: #cd0000; 
}

.login-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 20%;
	font-size: 1.15em;
	border-radius: 10px;
  border-width: 0px;
  color: #990000;
}

.err-con {
	display: flex;
	margin-top: 50px;
}

.err {
	font-style: italic;
	color: red;
}
