.login {
  display: flex;
  flex-direction: column;
  background-color: #777;
  /*background-repeat: space 0 0;*/
}

.login-form {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
  font-family: geneva;
  border-width: 0px;
}

.log-user-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*margin-top: 183px;*/
  color: #000;
}

.log-pass-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000;
}

.log-label {
  margin-bottom: 50px;
}

.log-pass-user {
	height: 90%;
	font-family: geneva;
	font-size: 1.3em;
	font-weight: 150;
	margin: 5px 0px 0px 25px;
	padding: 0px;
	border-width: 0px;
	border-radius: 10px;
}

.log-btn-con {
	display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.login-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 1.15em;
  padding: 15px 40px;
	border-radius: 10px;
  border-width: 0px;
  color: #990000;
}

.err-con-log {
	display: flex;
	/*margin: 50px 0 183px 0;*/
}

.log-err-mes {
  display: flex;
  margin: 0 30px 0 0; 
  width: 50%;
  font-style: italic; 
  font-size: 1.5em;
  color: #cd0000; 
}

.err {
	font-style: italic;
	color: red;
}
