.match-container {
	display: flex;
	flex-direction: column;
  height: 100%;
	background-image: url(img/match.jpg);
	background-size: cover;
}

.match-elements {
	display: flex;
	flex-direction: column;
	margin-top: 55px;
}

.match-header {
	display: flex;
	width: 100%;
	margin: 65px 0px 0px 0px;
}

.match-msg {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: brush script std;
  font-size: 4.5em;
}

.match-body {
	display: flex;
	height: 50%;
	margin-top: 35px;
}

.match-pics {
	display: flex;
  justify-content: space-around;
  width: 100%;
}

.match-pic-container {
	background-color: black;
	height: 350px;
  width: 210px;
  overflow: hidden;
  border-radius: 30px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.match-footer {
	display: flex;
	height: 20%;
}

.match-buttons {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 50px;
}

.keep-swiping {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 45px;
	border: 0;
	border-radius: 10px;
	padding: 0;
	font-family: geneva;
	font-size: 1.4em;
	word-spacing: 0.2em;
	background-color: #c1bfbf;
	color: #000;
	text-decoration: none;
}

.send-message {
	width: 200px;
	height: 45px;
	border: 0;
  border-radius: 10px;
  padding: 0;
  font-family: geneva;
  font-size: 1.4em;
  word-spacing: 0.2em;
  background-color: #c1bfbf;
}
