.msg-main-con {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 70px 0px;
	font-family: geneva;
	font-size: 1.2em;
}

.msg-elements-con {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 35px;
	align-items: center;
  justify-content: space-evenly;
}

.messages-header {
  display: flex;
  width: 50%;
  margin-bottom: 100px;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-con {
	display: flex;
  width: 70%;
  margin-bottom: 40px;
  justify-content: space-around;
  font-family: arial-black;
  font-style: italic;
  font-size: 1.3em;
}

.msg-con {
	display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
}

.msg-senders {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.msg-thread-message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.messages-matches-btn {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 153px;
	height: 50px;
	border-radius: 10px;
	border-width: 0px;
  font-size: 1.5em;
  font-family: geneva;
  color: #fff;
  background-color: #990000;
  text-align: center;
  text-decoration: none;
}

.messages-send-message-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 224px;
	height: 48px;
	border: 0;
	border-radius: 10px;
	padding: 0;
	font-family: geneva;
	font-size: 1.4em;
	word-spacing: 0.2em;
	background-color: #c1bfbf;
	color: #000;
	text-decoration: none;
}
