.msg-main-con {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 100px 0px;
	font-family: geneva;
	font-size: 1.2em;
}

.msg-elements-con {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.individual-sender {
	font-style: italic;
	margin-bottom: 40px;
}

.individual-msg {
	margin-bottom: 40px;
}
