.msg-main-con {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

.msg-elements-con {
	display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.message-btn {
	display: flex;
	height: 50px;
	border-radius: 10px;
}

.send-2 {
	display: flex;
  width: 100px;
  height: 40px;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  font-family: geneva;
  font-size: 1.3em;
  background-color: #329832;
  color: #fff;
}