.my-matches-main-con {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0;
  /*justify-content: center;*/
  align-items: center;
}

.profile-icon-con-3 {
	display: flex;
}

.img {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}