.my-matches-pic-container {
	background-color: #fff;
	height: 345px;
	width: 190px;
	overflow: hidden;
	border-radius: 30px;
}

.username {
	display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: arial;
  font-size: 1.2em;
}