.my-matches-pic-container {
	background-color: #fff;
	height: 260px;
	width: 180px;
	margin: 100px;
	/*overflow: hidden;*/
	border-radius: 30px;
}

.elements-con {
	display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.mmi-link {
	color: #fff;
}

.speech-bubble {
	position: relative;
	width: 30px;
	height: 25px;
	background: #c0c0c0;
	border-radius: 6px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-top-color: #c0c0c0;
	border-bottom: 0;
	border-left: 0;
	margin-left: -6px;
	margin-bottom: -12px;
}

.username {
	display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: arial;
  font-size: 1.2em;
}