.my-matches-main-con {
  display: flex;
  flex-direction: row;
  margin: 100px;
}

.my-matches-elements-con {
	display: flex;
  width: 100%;
  flex-wrap: wrap;
 }

.match-usernames {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.img {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}