.my-matches-main-con {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 100px;
}

.my-matches-elements-con {
	display: flex;
  width: 100%;
  flex-wrap: wrap;
 }

.match-usernames {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.my-match-img-container {
	background-color: black;
  height: 290px;
  width: 190px;
  overflow: hidden;
  border-radius: 30px;
}