.my-matches-pic-container {
	background-color: #fff;
	height: 260px;
	width: 180px;
	/*overflow: hidden;*/
	border-radius: 30px;
}

.elements-con {
	display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.username {
	display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: arial;
  font-size: 1.2em;
}
