.profile-main-con {
	display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-header {
	display: flex;
	max-width: 100%;
	justify-content: space-between;
	margin: 30px 0px 0px 0px;
	font-family: geneva;
	color: #999;
}

.profile-icon {
	display: flex;
	flex-direction: column;
	width: 15%;
	text-align: center;
}

.fa-cog {
	margin-bottom: 10px;
}

.fa-pencil {
	margin-bottom: 10px;
}

.profile-body {
	display: flex;
	max-width: 100%;
	height: 100%;
	justify-content: center;
	font-family: geneva;
	word-spacing: 0.2em;
}

#hiMessage {
  font-size: 2.5em;
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.profile-pic-container {
	background-color: black;
  height: 525px;
  width: 285px;
  /*overflow: hidden;*/
  border-radius: 30px;
}

img.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.profile-footer {
	display: flex;
	justify-content: center;
	max-width: 100%;
	height: 1%;
	margin-top: 0;
}

.get-swiping-btn {
	width: 220px;
	height: 55px;
	margin-top: 50px;
	padding: 0px;
	border-radius: 10px;
	border-width: 0px;
  font-size: 1.8em;
  font-family: geneva;
  color: #fff;
  background-color: #990000;
}