.profile-main-con {
	display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-header {
	display: flex;
	max-width: 100%;
	height: 12%;
	justify-content: space-between;
	margin-top: 30px;
	font-family: geneva;
	color: #999;
}

.profile-icon {
	display: flex;
	flex-direction: column;
	width: 15%;
	text-align: center;
}

.icon-con {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.icon {
	text-decoration: none;
	color: #999;
}

.fa-cog {
	margin-bottom: 10px;
}

.fa-pencil {
	margin-bottom: 10px;
}

.profile-body {
	display: flex;
	max-width: 100%;
	height: 73%;
	justify-content: center;
	font-family: geneva;
	word-spacing: 0.2em;
}

.hi-img {
	margin-top: 20px;
}

.hi-msg {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
  color: #000;
}

.profile-pic-container {
	background-color: black;
  height: 475px;
  width: 325px;
  /*overflow: hidden;*/
  border-radius: 30px;
}

img.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.profile-footer {
	display: flex;
	justify-content: center;
	max-width: 100%;
	height: 18%;
}

.matches-btn {
	width: 180px;
	height: 55px;
	padding-top: 10px;
	margin: 50px;
	border-radius: 10px;
	border-width: 0px;
  font-size: 1.8em;
  font-family: geneva;
  color: #fff;
  background-color: #990000;
  text-align: center;
  text-decoration: none;
}

.get-swiping-btn {
	width: 220px;
	height: 55px;
	padding-top: 10px;
	margin: 50px;
	border-radius: 10px;
	border-width: 0px;
  font-size: 1.8em;
  font-family: geneva;
  color: #fff;
  background-color: #990000;
  text-align: center;
  text-decoration: none;
}