.sign-up-con {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #666;
}

.sign-up-form {
	display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.8em;
  font-family: geneva;
  border-width: 0px;
}

.field-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.label-1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.label-2 {
  display: flex;
}

.field-user-pass {
  width: 30%;
  height: 37%;
  font-family: geneva;
  font-size: 1em;
  font-weight: 150;
  margin: 5px 0px 0px 25px;
  padding: 0px;
  border-width: 0px;
  border-radius: 10px;
}

.field-email {
  width: 34%;
  height: 37%;
  font-family: geneva;
  font-size: 1em;
  font-weight: 150;
  margin: 5px 0px 0px 25px;
  padding: 0px;
  border-width: 0px;
  border-radius: 10px;
}

.dropdown-day {
  display: flex;
  flex-direction: row;
  margin: 0 50px 0 50px;
  border: 0px;
  font-size: 0.7em;
}

.dropdown-month-year {
  display: flex;
  flex-direction: row;
  margin: 0 50px 0 0;
  border: 0px;
  font-size: 0.7em;
}

.sun-btn-con {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
  height: 8.5%
}

.sign-up-now {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
  font-size: 0.95em;
  border-radius: 10px;
  border-width: 0px;
  color: #990000;
}

.err-con {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.err {
  font-style: italic;
  color: red;
}