.swipe-container {
	display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.swipe-body {
	display: flex;
	width: 55%;
	height: 80%;
  flex-direction: column;
  margin: 80px 100px;
  font-family: geneva;
}

.pic-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.swipe-pic-container {
	background-color: #fff;
	height: 525px;
  width: 325px;
  overflow: hidden;
  border-radius: 30px;
}

.i-btn-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.i-btn {
	display: flex;
  font-family: serif;
  font-size: 1em;
  font-style: italic;
  font-weight: bolder;
  border-width: medium;
  border-radius: 5px;
  border-color: #999;
}

.vup-link {
  text-decoration: none;
}

.cross-icon {
	margin-left: 120px;
	color: #ff0000;
}

.check-icon {
	margin-right: 120px;
	color: #008000;
}

