.vup-header {
	display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  font-family: geneva;
  font-size: 1.2em;
  line-height: 1.9em;
}

.name-age-con {
	display: flex;
  margin-bottom: 5px;
  font-size: 1.5em;
  font-weight: bolder;
}

.name {
	display: flex;
}

.age {
	display: flex;
	margin-left: 10px;
}

.occupation {
	display: flex;
}

.vup-main-body {
	display: flex;
  flex-direction: column;
  align-items: center;
  font-family: geneva;
  font-size: 1.2em;
  line-height: 1.9em;
}

.vup-pic-container {
  background-color: black;
  height: 360px;
  width: 240px;
  /*overflow: hidden;*/
  border-radius: 30px;
}

.about-me {
	display: flex;
	flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
